.channel-list {
  padding: 16px 8px;
  color: #96989d;
}

.channel-header {
  padding: 8px 8px;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
  color: #b5bac1;
}

.channel-item {
  padding: 6px 8px;
  margin: 2px 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.channel-item:hover {
  background-color: #36393f;
  color: #dcddde;
}

.channel-item.selected {
  background-color: #36393f;
  color: #ffffff;
}
